.clear-button{
  height: 85px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #ac0246;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 8px;
  cursor: pointer;
}